@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: white;
}

body * {
  margin: 0;
}

h1 {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to top, #5996cf, #0057bd);
  height: 100vh;
}

.square {
  padding: 60px 30px 160px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.square.right {
  padding: 60px 60px 60px 30px;
}

.main-card {
  flex: 1;
  /* background-image: linear-gradient(to top, #5996cf, #0057bd); */
  background-image: linear-gradient(to top, #a5caed, #e2e2e2);
  border-radius: 24px;
  padding: 36px 24px;
}

.main-card * {
  color: black;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
